# Python artifacts
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Does not include data (large as well)
data/base/

# IDE/project files
.vscode/
.env
*.log

# Data/model files (optional)
*.csv
*.pkl
*.h5
*.npy
